.child1{
			background-color:darkgray;
			height: 100px;
			width: 100%;
			text-align: center;
			font-size: 45px;
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.child{
			display: flex;
			*height: 315px;*/
			justify-content: center;
			width: 100%;
		}
		.child2{
			background-color: lightgray;
			height: 315px;
			width: 20%;
			padding: 15px;
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
		}
		a{
			margin:10px;
		}
		.child3{
			background-color:#DCDCDC;
			background-image: url(drishti.jpg);
			height: 315px;
			width: 80%;
			padding: 15px;
		}
		.child4{
			background-color: darkgray;
			height: 75px;
			width:100%;
			text-align: center; 
			color: rgb(255,255,255);
			font-size: 25px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.avg{
			color: #fff;
		}


